/**
 * ==================================================================================
 * Sass Variables
 * ==================================================================================
 */

@import '@/assets/scss/abstracts/_mixin';

/**
 * Colors
 * ============================================================
 */
$primary: #007675;
$primary-s1: #80baba;
$primary-s2: #e7efff;
$primary-s3: #839a9c;
$primary-s4: #e6f1f1;
$secondary: #5a489b;

$alert-success: #72d62a;
$alert-warning: #ffd20c;
$alert-error: #fa4856;

$inactive-text: #b6babc;
$regular-text: #0a2127;
$secondary-text: #4b6365;
$tertiary-text: #a3a7ae;

$border-color: #cfcfcf;

$bg-card: #000000;
$bg-page: #f9f9f9;

/**
 * Texts/Fonts
 * ==================================================================================
 **/
$font-family: 'Satoshi', sans-serif;
$body-font-family: $font-family;
$heading-font-family: $body-font-family;

/**
 * Sizes/Dimensions
 * ==================================================================================
 **/
// Manual height of global components
// Used by layouts/components to calculate padding/margin
// for the header and footer if needed
$header-height: 86px;
$header-mobile-height: 58px;
$footer-height: 300px;
$footer-mobile-height: 434px;

$border-radius: 4px;

$grid-breakpoints: (
  'xs': 0,
  'sm': 340px,
  'md': 540px,
  'lg': 800px - 24px,
  'xl': 1280px - 24px
);

/**
 * Shadows
 * ==================================================================================
 **/

$card-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);